.navbar-container{
    background: #191970;
    padding: 20px 0px;

    
}
.navBar{
    display: flex;
    justify-content: space-between;

}
.navSection a{
    text-decoration: none;
    margin-right: 10px; 
    color: whitesmoke;
    font-weight: 400;
    font-size: 18px;
}
.logBtn{
    background: linear-gradient(#28282B, #301934);
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;
    color: whitesmoke;
    font-size: 15px;
    cursor: pointer;
}
.navSection :hover .logBtn{
    border: 1px solid crimson;
    color: crimson;

}

/* #15202B */