.navbar-container{
    background: #191970;
      
}
.navBar{
    display: flex;
    justify-content: space-between;

}
.navLogo .logo-title{
    display: flex;
    align-items: center;
}
.logo-title p{
    font-size: 25px;
    font-weight: bold;
}
.navBar a{
    text-decoration: none;
    margin-right: 10px; 
    color: whitesmoke;
    font-weight: 400;
    font-size: 18px;
}
.logBtn{
    background: linear-gradient(#28282B, #301934);
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;
    color: whitesmoke;
    font-size: 15px;
    cursor: pointer;
}
.navSection{
    margin-top: 20px;
}
.navSection :hover .logBtn{
    border: 1px solid crimson;
    color: crimson;

}