.banner-title h1{
    color: white;
    text-align: center;
    font-weight: 300;
}
.banner-container{
    background-image: url('../../../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding: 20px 0px;
}
.bannerBtn{
    background: crimson;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
}
.banner-content{
    color: white;
    font-size: 15px;

}


@media (max-width: 690px) {
    .banner-container{
        background-image: url('../../../images/banner.jpg');
        height: 800px;
    }
}